<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link <%= nav1 == 2 ? 'bg-info text-white' : '' %>" href="/projects/overview/<%=keyid%>">
                    <span data-feather="home"></span>
                    Overview <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= nav1 == 7 ? 'bg-info text-white' : '' %>" href="/projects/activity/<%=keyid%>">
                    <span data-feather="file"></span>
                    Activity
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ">
            <span></span>
            <a class="d-flex align-items-center " href="">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item ">
                <a class="nav-link <%= nav1 == 3 ? 'text-white bg-info' : '' %>" href="/projects/members/list/<%=keyid%>">
                    <span data-feather="file-text"></span>
                    Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= nav1 == 4 ? 'text-white bg-info' : '' %>" href="/projects/issues/list/<%=keyid%>">
                    <span data-feather="file-text"></span>
                    Issues
                </a>
            </li>

        </ul>
    </div>
</nav>